/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 31, 2018, 5:03:35 AM
    Author     : Kajah
*/

* {
    /*Include padding and border in the element's total width and height*/
    box-sizing: border-box;
}
#chatsContainer {
    width: 450px;
    height: 550px;
    border: 1.5px solid black;
    margin: auto;
}

#chatsContainer > #chatsTitle {
    width: 100%;
    background: white;
    padding: 10px;
    border-bottom: 1.5px solid black;
}

#chatsContainer > #chatsTitle h3 {
    margin: 0;
    padding: 0;
}

#chatsContainer > #earlierChats {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
body {
    text-align: center;
}